{% extends "index.html" %}
{% block title %} {{ title }}{% endblock %}
{% block content %} 

<div class="container">
    {% for field , error in form.errors.items() %}
    <div class="alert alert-danger">  {{ error.0  }} </div>
    {% endfor %}
<section class=" p-5 ">
             <div class="mt-1 bg-gris  rounded text-info text-center"><h1 class="well text-info" >Python Flask CRUD web App </h1></div>       
             <div class="table-responsive" id="no-more-tables">
              <table class="table bg-white">
                  <thead>
                      <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                      </tr>
                  </thead>  
                  <tbody>
 {%for user in users %}
                    <tr>
                        <td data-title="Name">{{user.username}}</ data-title="">
                        <td data-title="Email">{{user.email}}</td>
                        <td data-title="Phone">{{user.phone}}</td>
                        <td data-title="Action"> 
                        <a href="/update/{{user.username}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modeledits-{{user.username}}"><i class="bi bi-pen"></i></a>
                        <a href="/delete/{{user.username}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>  
{%endfor%}       
                  </tbody>
                </table>
    </div>                           
  </section>
</div>       

<!-- Modal Add User -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Employee</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">                 
            <form method="POST" action="{{ url_for('insert') }}">    <!-- Variable-->
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control form-control-lg") }}   
                </div>
                <div class="mb-3">
                    {{ form.phone.label(class="form-label") }}
                    {{ form.phone(class="form-control form-control-lg") }}
                </div>
                <button type="submit" class="btn btn-primary float-end">Submit</button>
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
            </form>                
        </div>
      </div>
    </div>
</div>

<!-- Modal Edit User -->
{%for user in users %}
  <div class="modal fade" id="modeledits-{{user.username}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modeleditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modeleditLabel">Edit User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">                        
            <form method="POST" action="/update/{{user.username}}">    <!-- Variable-->
              {{ form.hidden_tag() }}
              <div class="mb-3">
                  {{ form.username.label(class="form-label") }}
                  <input  id="username"  name="username"  class="form-control form-control-lg" type="text" value="{{ user.username }}"  />
              </div>
              <div class="mb-3">
                  {{ form.email.label(class="form-label") }}
                  <input  id="email"  name="email"  class="form-control form-control-lg" type="text" value="{{ user.email }}"  />
              </div>
              <div class="mb-3">
                  {{ form.phone.label(class="form-label") }}
                  <input  id="phone"  name="phone"  class="form-control form-control-lg" type="text" value="{{ user.phone }}"  />
              </div>
              <button type="submit" class="btn btn-primary float-end">Submit</button>
              <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
          </form>               


          </div>
        </div>
      </div>
  </div>
{%endfor%}

{% endblock content %}